{% extends 'base.html' %}

{% block content %}
    <div style="max-width: 800px; margin: 40px auto; padding: 20px; background: #fff; border-radius: 8px; box-shadow: 0 4px 12px rgba(0,0,0,0.05);">
        <h1 style="text-align: center;">Variant:  {{ variant_data.gene }} {{ variant_data.name }}</h1>
        <p><strong>Description:</strong> {{ variant_data.description }}</p>
        <p><strong>Gene:</strong> {{ variant_data.gene }}</p>
        <p><strong>Molecular Profiles:</strong></p>
        {% if variant_data.molecular_profiles %}
        <ul>
            {% for profile in variant_data.molecular_profiles %}
            <li>{{ profile }}</li>
            {% endfor %}
        </ul>
        {% else %}
        <p>None</p>
        {% endif %}
        <p><strong>Diseases:</strong></p>
        {% if variant_data.diseases %}
        <ul>
            {% for disease in variant_data.diseases %}
            <li>{{ disease }}</li>
            {% endfor %}
        </ul>
        {% else %}
        <p>None</p>
        {% endif %}
    </div>
    <div class="w-100 text-center mt-3 text-muted" style="font-size:0.8rem;">
        The data presented here is for research purposes only and is not intended for clinical use. The information is sourced from the <a href="https://civicdb.org/welcome" target="_blank" rel="noopener noreferrer">CIViC database</a>, which is a community-curated knowledgebase of clinically relevant variants in cancer.
    </div> 
{% endblock %}